.DS_Store
Thumbs.db
.vscode/
.idea/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg-info/

.env/
.venv/
env/
venv/

.ipynb_checkpoints/
*.ipynb_save
*.ipynb_checkpoints/

*.log
logs/
wandb/
tensorboard/

data/
*.zip
*.tar.gz
*.pth
*.pt
*.ckpt
*.h5
*.onnx

kaggle.json
drive/
submission.csv
*.csv

tmp/
outputs/